<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallcloud.mall.member.mapper.MemberCollectSubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallcloud.mall.member.api.entity.MemberCollectSubject">
        <id column="id" property="id" />
        <result column="subject_id" property="subjectId" />
        <result column="subject_name" property="subjectName" />
        <result column="subject_img" property="subjectImg" />
        <result column="subject_urll" property="subjectUrll" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, subject_id, subject_name, subject_img, subject_urll
    </sql>

</mapper>
