<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallcloud.mall.ware.mapper.WareSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mallcloud.mall.ware.api.entity.WareSku">
        <id column="id" property="id" />
        <result column="sku_id" property="skuId" />
        <result column="ware_id" property="wareId" />
        <result column="stock" property="stock" />
        <result column="sku_name" property="skuName" />
        <result column="stock_locked" property="stockLocked" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_id, ware_id, stock, sku_name, stock_locked
    </sql>

	<update id="addStock">
		UPDATE `wms_ware_sku`
		SET stock=stock + #{skuNum}
		WHERE sku_id = #{skuId}
		  AND ware_id = #{wareId}
	</update>
	<select id="getSkuStock" resultType="java.lang.Long">
		SELECT SUM(stock - stock_locked)
		FROM wms_ware_sku
		WHERE sku_id = #{skuId}
	</select>

</mapper>
